*{
    padding: 0px;
    margin: 0px;
    border: 0px;
}
body{
	background-color:white;
	font-family:Arial;
	
}
/* #divtesteVH{
    background-color: green;
    padding: 2vh;
    width: 82vw;
    height: 22vh;

}

/* Conteúdo*/
.container{

    margin-top:85px;
    background-color: white;


}

.carrousel{
    text-align: center;
    color:black;
   
}



 p{
    width:19%;
    height:19vh;
    margin-top:70px;
    font-family: 'Times New Roman', Times, serif;
    text-indent: 20px;
    text-align: justify;
    color:black;
    border:1px solid black;
    margin-left:50px;

}

.texto{
    display: inline-block;
}
.imgs{
    
   margin-right:70px;
    margin-top:70px;
    display: inline-block;
    border:1px solid black;
    float: right;
 
}


/* Menuzinho  */
#menu ul {
    
    width: 100%;
    height:70px;
    position: fixed;
    top:0;
    left: 0;
    background-color: black;
    text-align: center;
    padding:0px;
    margin:0px;
    list-style:none;
}
#menu ul li { display: inline; }

#menu ul li a {
    margin-right: 5px;
    margin-top:25px;
    padding: 2px 10px;
    display: inline-block;

/* visual do link */
    
    color: white;
    text-decoration: none;
    border-bottom:3px solid rgb(46, 45, 45);
 
}
/* cor do link ao passar por cima*/
#menu ul li a:hover {
    background-color:#D6D6D6;
    color: #6D6D6D;
    border-bottom:3px solid #D3D3D3;
}



/* Rodapé */
footer{
    width: 100%;
    height:80px;
    position: fixed;
    bottom:0;
    left: 0;
    background-color: black;
}





